body {
 margin: 0;
 padding: 0;
}

@font-face {
    font-family: Gotham;
    src: url(Gotham-Light.otf);
}

#background
{
  left: 0px;
  top: 0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  z-index:0;
 }

 #slideshow {
   left: -1px;
   top: -2px;
   position: absolute;
   width: 1923px;
   height: 1083px;
   z-index:1;
   box-shadow: 0 0 20px rgba(0,0,0,0.4);
 }

 #slideshow > div {
   left: -1px;
   top: -2px;
   position: absolute;
   width: 1923px;
   height: 1083px;
   z-index:1;
 }

#FeaturedImage
{
  left: -1px;
  top: -2px;
  position: absolute;
  width: 1923px;
  height: 1083px;
  z-index:1;
}

#footertransbkgd
{
  left: -1px;
  top: 905px;
  position: absolute;
  width: 1932px;
  height: 191px;
  z-index:2;
  background-image: url(images/home_images/footertransbkgd.png);
}

#footernavbar
{
  left: -5px;
  top: 915px;
  position: absolute;
  width: 1936px;
  height: 181px;
  z-index:3;
  background-image: url(images/home_images/footernavbar.png);
}

#goldfooterbar
{
  left: 0px;
  top: 1029px;
  position: absolute;
  width: 1920px;
  height: 41px;
  z-index:4;
  background-image: url(images/home_images/goldfooterbar.png);
}

#bluefooterbar
{
  left: 0px;
  top: 1037px;
  position: absolute;
  width: 1920px;
  height: 44px;
  z-index:5;
  background-image: url(images/home_images/bluefooterbar.png);
}

#PROGRAMSRest
{
  left: 97px;
  top: 963px;
  position: absolute;
  width: 118px;
  height: 25px;
  z-index:6;
  background-image: url(images/home_images/PROGRAMSRest.png);
}

#vertdivider1
{
  left: 245px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:7;
  background-image: url(images/home_images/vertdivider1.png);
}

#FACULTYSTAFFRest
{
  left: 282px;
  top: 963px;
  position: absolute;
  width: 176px;
  height: 25px;
  z-index:8;
  background-image: url(images/home_images/FACULTYSTAFFRest.png);
}

#vertdivider2
{
  left: 487px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:9;
  background-image: url(images/home_images/vertdivider1.png);
}

#STUDENTEXPERIENCESRe
{
  left: 520px;
  top: 963px;
  position: absolute;
  width: 241px;
  height: 25px;
  z-index:10;
  background-image: url(images/home_images/STUDENTEXPERIENCESRe.png);
}

#vertdivider3
{
  left: 788px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:11;
  background-image: url(images/home_images/vertdivider1.png);
}

#CAREERDEVELOPMENTRes
{
  left: 822px;
  top: 963px;
  position: absolute;
  width: 243px;
  height: 25px;
  z-index:12;
  background-image: url(images/home_images/CAREERDEVELOPMENTRes.png);
}

#vertdivider4
{
  left: 1094px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:13;
  background-image: url(images/home_images/vertdivider4.png);
}

#BUSINESSADVISORYCOUN
{
  left: 1128px;
  top: 963px;
  position: absolute;
  width: 309px;
  height: 25px;
  z-index:14;
  background-image: url(images/home_images/BUSINESSADVISORYCOUN.png);
}

#vertdivider6
{
  left: 1465px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:15;
  background-image: url(images/home_images/vertdivider1.png);
}

#MENTORINGRest
{
  left: 1498px;
  top: 963px;
  position: absolute;
  width: 127px;
  height: 25px;
  z-index:16;
  background-image: url(images/home_images/MENTORINGRest.png);
}

#vertdivider6copy
{
  left: 1654px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:17;
  background-image: url(images/home_images/vertdivider1.png);
}

#REQUESTINFORest
{
  left: 1688px;
  top: 963px;
  position: absolute;
  width: 149px;
  height: 27px;
  z-index:18;
  background-image: url(images/home_images/REQUESTINFORest.png);
}

#PROGRAMSactive
{
  left: 59px;
  top: 952px;
  position: absolute;
  width: 188px;
  height: 47px;
  z-index:19;
  background-image: url(images/home_images/PROGRAMSactive.png);
}

#vertdivider1_0
{
  left: 245px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:20;
  background-image: url(images/home_images/vertdivider1.png);
}

#FACULTYSTAFFactive
{
  left: 245px;
  top: 952px;
  position: absolute;
  width: 244px;
  height: 47px;
  z-index:21;
  background-image: url(images/home_images/FACULTYSTAFFactive.png);
}

#vertdivider2_0
{
  left: 487px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:22;
  background-image: url(images/home_images/vertdivider1.png);
}

#STUDENTEXPERIENCESac
{
  left: 488px;
  top: 952px;
  position: absolute;
  width: 302px;
  height: 47px;
  z-index:23;
  background-image: url(images/home_images/STUDENTEXPERIENCESac.png);
}

#vertdivider3_0
{
  left: 788px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:24;
  background-image: url(images/home_images/vertdivider1.png);
}

#CAREERDEVELOPMENTact
{
  left: 789px;
  top: 952px;
  position: absolute;
  width: 307px;
  height: 47px;
  z-index:25;
  background-image: url(images/home_images/CAREERDEVELOPMENTact.png);
}

#vertdivider4_0
{
  left: 1094px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:26;
  background-image: url(images/home_images/vertdivider1.png);
}

#BUSINESSADVISORYCOUN_0
{
  left: 1095px;
  top: 952px;
  position: absolute;
  width: 372px;
  height: 47px;
  z-index:27;
  background-image: url(images/home_images/BUSINESSADVISORYCOUN_0.png);
}

#vertdivider6_0
{
  left: 1465px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:28;
  background-image: url(images/home_images/vertdivider1.png);
}

#MENTORINGactive
{
  left: 1466px;
  top: 952px;
  position: absolute;
  width: 190px;
  height: 47px;
  z-index:29;
  background-image: url(images/home_images/MENTORINGactive.png);
}

#vertdivider6copy_0
{
  left: 1654px;
  top: 943px;
  position: absolute;
  width: 3px;
  height: 64px;
  z-index:30;
  background-image: url(images/home_images/vertdivider1.png);
}

#REQUESTINFOactive
{
  left: 1655px;
  top: 952px;
  position: absolute;
  width: 215px;
  height: 47px;
  z-index:31;
  background-image: url(images/home_images/REQUESTINFOactive.png);
}

#headertransbkgd
{
  left: -2px;
  top: -1px;
  position: absolute;
  width: 1925px;
  height: 113px;
  z-index:32;
  background-image: url(images/home_images/headertransbkgd.png);
}

#headergray
{
  left: 0px;
  top: -2px;
  position: absolute;
  width: 1918px;
  height: 106px;
  z-index:33;
  background-image: url(images/home_images/headergray.png);
}

#logobox
{
  left: 97px;
  top: 0px;
  position: absolute;
  width: 385px;
  height: 140px;
  z-index:34;
  background-image: url(images/home_images/logobox.png);
}

#DepartmentofBusiness
{
  left: 520px;
  top: 34px;
  position: absolute;
  width: 854px;
  height: 42px;
  z-index:36;
  background-image: url(images/home_images/DepartmentofBusiness.png);
}

#Bethellogo
{
  left: 135px;
  top: 27px;
  position: absolute;
  width: 319px;
  height: 80px;
  z-index:35;
}




#homeicon
{
  left: 1784px;
  top: 38px;
  position: absolute;
  width: 36px;
  height: 36px;
  z-index:37;
  background-image: url(images/home_images/homeicon.png);
}
