<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ siteName }}</title>
		<link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    {% block extraHead %} {% endblock extraHead %}
	</head>
	<body class="{% if bodyClass is defined %}{{bodyClass}}{% endif %}">

		{% block Content %}{% endblock Content %}

		{% block extraFooter %}{% endblock extraFooter %}
 </body>
 </html>
