<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>Bethel Business and Economics Home</title>
		{% block stylez %}
		    <link rel="stylesheet" href="/Assets/homestyles.css" type="text/css">
		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="background">
			{% block mainContent %}
			{% endblock mainContent %}
			<div id="footertransbkgd"></div>
			<div id="footernavbar"></div>
			<div id="goldfooterbar"></div>
			<div id="bluefooterbar"></div>
			<div id="PROGRAMSRest"></div>
			<div id="vertdivider1"></div>
			<div id="FACULTYSTAFFRest"></div>
			<div id="vertdivider2"></div>
			<div id="STUDENTEXPERIENCESRe"></div>
			<div id="vertdivider3"></div>
			<div id="CAREERDEVELOPMENTRes"></div>
			<div id="vertdivider4"></div>
			<div id="BUSINESSADVISORYCOUN"></div>
			<div id="vertdivider6"></div>
			<div id="MENTORINGRest"></div>
			<div id="vertdivider6copy"></div>
			<div id="REQUESTINFORest"></div>
			<div id="PROGRAMSactive"></div>
			<div id="vertdivider1_0"></div>
			<div id="FACULTYSTAFFactive"></div>
			<div id="vertdivider2_0"></div>
			<div id="STUDENTEXPERIENCESac"></div>
			<div id="vertdivider3_0"></div>
			<div id="CAREERDEVELOPMENTact"></div>
			<div id="vertdivider4_0"><</div>
			<div id="BUSINESSADVISORYCOUN_0"></div>
			<div id="vertdivider6_0"></div>
			<div id="MENTORINGactive"></div>
			<div id="vertdivider6copy_0"></div>
			<div id="REQUESTINFOactive"></div>
			<div id="headertransbkgd"></div>
			<div id="headergray"></div>
			<div id="logobox"></div>
			<div id="Bethellogo">
				{% block logo %}
				{% endblock logo %}
			<div id="DepartmentofBusiness"></div>
			<div id="homeicon"></div>
		</div>
{% block bodyScripts %}

{% endblock %}

 </body>
 </html>
