<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
		.mySlides {display: none;}


		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 4.0s;
		  animation-name: fade;
		  animation-duration: 4.0s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4}
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4}
		  to {opacity: 1}
		}
		</style>
		<title>Bethel Business and Economics Home</title>
		<link rel="stylesheet" href="Assets/homestyles.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="background">
			<div id="FeaturedImage">
				{% for asset in entry.featuredImage %}
				<div class="mySlides fade">
					<img src="{{ asset.getUrl() }}" />
				</div>
				{% endfor %}
				<br>
			</div>


			<div id="footertransbkgd"></div>
			<div id="footernavbar"></div>
			<div id="goldfooterbar"></div>
			<div id="bluefooterbar"></div>
			<div id="PROGRAMSRest"></div>
			<div id="vertdivider1"></div>
			<div id="FACULTYSTAFFRest"></div>
			<div id="vertdivider2"></div>
			<div id="STUDENTEXPERIENCESRe"></div>
			<div id="vertdivider3"></div>
			<div id="CAREERDEVELOPMENTRes"></div>
			<div id="vertdivider4"></div>
			<div id="BUSINESSADVISORYCOUN"></div>
			<div id="vertdivider6"></div>
			<div id="MENTORINGRest"></div>
			<div id="vertdivider6copy"></div>
			<div id="REQUESTINFORest"></div>
			<div id="PROGRAMSactive"></div>
			<div id="vertdivider1_0"></div>
			<div id="FACULTYSTAFFactive"></div>
			<div id="vertdivider2_0"></div>
			<div id="STUDENTEXPERIENCESac"></div>
			<div id="vertdivider3_0"></div>
			<div id="CAREERDEVELOPMENTact"></div>
			<div id="vertdivider4_0"><</div>
			<div id="BUSINESSADVISORYCOUN_0"></div>
			<div id="vertdivider6_0"></div>
			<div id="MENTORINGactive"></div>
			<div id="vertdivider6copy_0"></div>
			<div id="REQUESTINFOactive"></div>
			<div id="headertransbkgd"></div>
			<div id="headergray"></div>
			<div id="logobox"></div>
			<div id="Bethellogo">
			{% set image = entry.siteLogo.first() %}
			<img src='{{image.getUrl()}}' /></div>
			<div id="DepartmentofBusiness"></div>
			<div id="homeicon"></div>
		</div>
		<script>
		var myIndex = 0;
		carousel();

		function carousel() {
		    var i;
		    var x = document.getElementsByClassName("mySlides");
		    for (i = 0; i < x.length; i++) {
		       x[i].style.display = "none";
		    }
		    myIndex++;
		    if (myIndex > x.length) {myIndex = 1}
		    x[myIndex-1].style.display = "block";
		    setTimeout(carousel, {{ globalSettings.duration }} * 1000);
		}
		</script>
 </body>
 </html>
