{% extends 'dry/_layout/Bethelbase.twig' %}

{% block stylez %}
		<link rel="stylesheet" href="/Assets/homestyles.css" type="text/css">
		<style>
		.mySlides {display: none;}


		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 4.0s;
		  animation-name: fade;
		  animation-duration: 4.0s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4}
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4}
		  to {opacity: 1}
		}
		</style>
{% endblock %}

{% block mainContent %}
<div id="FeaturedImage">
	{% for asset in entry.featuredImage %}
	<div class="mySlides fade">
		<img src="{{ asset.getUrl() }}" />
	</div>
	{% endfor %}
	<br>
</div>

{% endblock mainContent %}

{% block logo %}
{% set image = globalSettings.siteLogo.first() %}
<img src='{{image.getUrl()}}' />
{% endblock logo %}

{% block bodyScripts %}
<script>
var myIndex = 0;
carousel();

function carousel() {
		var i;
		var x = document.getElementsByClassName("mySlides");
		for (i = 0; i < x.length; i++) {
			 x[i].style.display = "none";
		}
		myIndex++;
		if (myIndex > x.length) {myIndex = 1}
		x[myIndex-1].style.display = "block";
		setTimeout(carousel, {{ globalSettings.duration }} * 1000);
}
</script>
{% endblock bodyScripts %}
