{% extends 'home-page/_entry.twig' %}

{% block stylez %}
    <link rel="stylesheet" href="/Assets/homestyles.css" type="text/css">
    <style>
      # Sidebar_Image
      {
      position: absolute;
      left: -5px;
      top: -25px;
      width: 465px;
      height: 1071px;
      z-index: 3;
    }
      </style>

}
{% endblock stylez %}

{% block mainContent %}
  <div class="Sidebar_Image">
    {% set image = entry.sidebarImage.first() %}
    <img src='{{image.getUrl()}}' />
  </div>
{% endblock mainContent %}

{% block logo %}
{% set image = globalSettings.siteLogo.first() %}
<img src='http://localhost:8888/images/Bethellogo.png' />
{% endblock logo %}
