{% extends 'home-page/_entry.twig' %}

{% block stylez %}
    <link rel="stylesheet" href="/Assets/homestyles.css" type="text/css">
{% endblock stylez %}

{% block mainContent %}

{% endblock mainContent %}

{% block logo %}
{% set image = globalSettings.siteLogo.first() %}
<img src='http://localhost:8888/images/Bethellogo.png' />
{% endblock logo %}
