<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Bethel Business and Economics Home</title>
		<link rel="stylesheet" href="Assets/homestyles.css" type="text/css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(2000)
    .next()
    .fadeIn(2000)
    .end()
    .appendTo('#slideshow');
},  5000);

</script>
	</head>
	<body>
		<div id="background">
			<div id="FeaturedImage">
							<img class="slide" width="300" height="300">
			{#}{% set image = entry.featuredImage.first() %}
			<img src='{{image.getUrl()}}' />#}
			<div id="slideshow">
			   <div>
					 {% set image = entry.featuredImage.0 %}
		 			<img src='{{image.getUrl()}}' />
			   </div>
			   <div>
					 {% set image = entry.featuredImage.1 %}
		 			<img src='{{image.getUrl()}}' />
			   </div>
			   <div>
					 {% set image = entry.featuredImage.2 %}
		 			<img src='{{image.getUrl()}}' />
			   </div>
			</div>
		</div>
			<div id="footertransbkgd"></div>
			<div id="footernavbar"></div>
			<div id="goldfooterbar"></div>
			<div id="bluefooterbar"></div>
			<div id="PROGRAMSRest"></div>
			<div id="vertdivider1"></div>
			<div id="FACULTYSTAFFRest"></div>
			<div id="vertdivider2"></div>
			<div id="STUDENTEXPERIENCESRe"></div>
			<div id="vertdivider3"></div>
			<div id="CAREERDEVELOPMENTRes"></div>
			<div id="vertdivider4"></div>
			<div id="BUSINESSADVISORYCOUN"></div>
			<div id="vertdivider6"></div>
			<div id="MENTORINGRest"></div>
			<div id="vertdivider6copy"></div>
			<div id="REQUESTINFORest"></div>
			<div id="PROGRAMSactive"></div>
			<div id="vertdivider1_0"></div>
			<div id="FACULTYSTAFFactive"></div>
			<div id="vertdivider2_0"></div>
			<div id="STUDENTEXPERIENCESac"></div>
			<div id="vertdivider3_0"></div>
			<div id="CAREERDEVELOPMENTact"></div>
			<div id="vertdivider4_0"><</div>
			<div id="BUSINESSADVISORYCOUN_0"></div>
			<div id="vertdivider6_0"></div>
			<div id="MENTORINGactive"></div>
			<div id="vertdivider6copy_0"></div>
			<div id="REQUESTINFOactive"></div>
			<div id="headertransbkgd"></div>
			<div id="headergray"></div>
			<div id="logobox"></div>
			<div id="Bethellogo">
			{% set image = entry.siteLogo.first() %}
			<img src='{{image.getUrl()}}' /></div>
			<div id="DepartmentofBusiness"></div>
			<div id="homeicon"></div>
		</div>
 </body>
 </html>
